.page404 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: #369;
}

.page404_main {
    text-align: center;
}

.textCenter {
    text-align: center;
}

.logo404 {
    color: #369;
    font-size: 5em;
    font-weight: bold;
}

.title {
    margin-top: 16px;
    font-size: 3rem;
    font-weight: 600;
}

.description {
    margin-top: 16px;
    font-size: 1.2rem;
}

.buttonContainer {
    margin-top: 24px;
}

.link {
    display: inline-block;
    background-color: #369;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: transform 0.2s, background-color 0.2s;
}

.link:hover {
    transform: scale(1.1);
    color: #fff;
}
